<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">You'll have to log in!</h5>
                            <p class="card-text">In order to create a post you need to log in or register if you don't have any account</p>
                            <a href="Login" class="btn btn-primary">Log In</a>
                        </div>
                        <div class="card-footer text-muted">
                            Best Regards -Admin
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>